// 共通スタイル
$accentColor = #6699FF
$textColor = #444444
$codeBgColor = #333333
$navbarHeight = 3.0rem
$sidebarWidth = 16rem
$contentWidth = 760px

* {
  font-family: 'Kosugi Maru';
}
.navbar {
  background-color: #000000 !important;
  font-family: cursive;
}
.site-name {
  color: #ffffff !important;
}
.search-box {
  display: none;
}
.page, .sidebar {
  font-family: sans-serif;
}
.sidebar {
  background-color: #fafad2 !important;
}
.page .content {
  padding: 3.0rem 2.5rem 2rem !important;
}
.hero, .features, .footer {
  font-family: cursive;
}
.sidebar-heading span {
  display: none;
}
.sidebar-group a.sidebar-link {
  padding-left: 1rem;
}